.navigation {
    height: 3vh;
    width: 100%;

    color: whitesmoke;
    background-color: black;
}

.links {
    display: flex;
    justify-content: end;
    align-items: center;
}

.links a {
    margin-left: 1rem;
    margin: .5rem;
    display: flex;
}